@use 'public/styles/mixinHelper';
@use "public/styles/globalVariables";

.current_task {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 600;
  color: globalVariables.$color-6;
  border-radius: 45px;
}

.avatar {
  border-radius: 1rem;
  height: 4rem;
  width: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid globalVariables.$color-0;
}

.name_author {
  color: globalVariables.$color-8;
  font-weight: bold;
}

.number_author {
  margin-left: 10px;
  color: globalVariables.$color-10;
  font-weight: bold;
}

.tag_name {
  color: globalVariables.$color-6;
  font-weight: 900;
  font-size: 10px;
  padding: 2px 5px;
}

.name_rank {
  color: globalVariables.$color-8;
  font-weight: 600;
  font-size: 14px;

  .range_rank {
    font-weight: 200;
    font-size: 12px;
    color: globalVariables.$color-10;
  }
}

.progress {
  width: 100%;
  background-color: globalVariables.$color-11;
  border-radius: 5px;
  margin: 5px 0;

  .bar {
    border-radius: 5px;
    height: 5px;
    background-color: globalVariables.$color-8;
  }
}

.next_rank {
  font-size: 10px;
  color: globalVariables.$color-10;
}
