@use "public/styles/globalVariables";
@use "public/styles/mixinHelper";

.task_editable {
  font-size: 18px;
  border-bottom: 1px solid #2d485a59;

  .index_task {
    line-height: 18px;
    height: 20px;
    min-width: 20px;
    font-size: 13px;
    border: 1px solid globalVariables.$color-10;
  }
}

.task_completed {
  .index_task {
    background-color: globalVariables.$color-12;
    border: solid 1px globalVariables.$color-12;
    color: globalVariables.$color-7;
  }

  .name_task {
    color: globalVariables.$color-12;
    text-decoration: line-through;
  }
}

.task_incompleted {
  .index_task, .name_task {
    color: globalVariables.$color-10;
  }
}

.add_task_container {
  input {
    font-size: 18px;
  }

  button {
    font-size: 18px;
    color: globalVariables.$color-7;
    background-color: globalVariables.$color-8;
  }
}

.three_horizontal_dots {
  cursor: pointer;
}

.dropdown_settings_task {
  background-color: white;
  color: black;
  position: absolute;
}
