@use "public/styles/globalVariables";
@use 'public/styles/mixinHelper';

@mixin textStyle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: globalVariables.$color-18;

  @include mixinHelper.tabletResponsive{
    text-align: center;
  }
}

.containerFooter {
  @include mixinHelper.container;
  display: flex;
  padding-top: 75px;
  padding-bottom: 75px;
  gap: 0 150px;

  @include mixinHelper.tabletResponsive{
    flex-direction: column;
    padding: 50px 30px 0;
  }

  .aboutProject {
    width: 30%;
    margin-right: auto;

    @include mixinHelper.tabletResponsive{
      width: unset;
      max-width: 500px;
      text-align: center;
      margin: 0 auto;
    }

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      color: globalVariables.$color-16;
      text-transform: uppercase;

      @include mixinHelper.tabletResponsive{
        text-align: center;
      }
    }

    .description {
      @include textStyle;
      margin-top: 20px;
    }

    .copyright {
      @include textStyle;
      margin-top: 34px;
    }
  }

  .menuContainer, .legalContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;

    @include mixinHelper.tabletResponsive{
      width: unset;
      margin-top: 60px;
      text-align: center;
    }

    .title{
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
      color: globalVariables.$color-19;
    }

    .item {
      @include textStyle;
      font-weight: 500;
      line-height: 22px;
      padding: 10px 0;
    }
  }
}

