@use 'public/styles/mixinHelper';
@use "public/styles/globalVariables";

.container_card {
  .card {
    flex-direction: row-reverse;
    margin: 0 auto;
    padding: 2rem 10px;
    max-width: calc(1300px - 20px);

    .title_blue h1,
    .title_blue h3 {
      color: globalVariables.$color-2;
      font-size: 58px;
      line-height: 1.16;
      letter-spacing: -0.036em;
      font-weight: 700;
      margin: 1rem 0px;

      @include mixinHelper.mobileResponsive{
        font-size: 40px;
      };
    }

    .title_blue h3 {
      font-size: 35px!important;

      @include mixinHelper.mobileResponsive{
        font-size: 25px!important;
      };
    }

    .description_white p {
      color: globalVariables.$color-0;
      font-weight: 400;
      font-size: 22px;
      line-height: 36px;
      margin: 1rem 0px;
    }

    .image_card {
      @include mixinHelper.center-content;
      margin-bottom: 20px;
    }
  }

  &:nth-child(2n){
    background-color: globalVariables.$color-4;

    .card{
      flex-direction: row;
    }
  }
}

.trusted_by_2500 h2 {
  font-size: 45px;
  color: globalVariables.$color-0;
  font-weight: bolder;
  background-color: globalVariables.$color-4;
  margin: 2rem 0px;
  padding: 25px;

  @include mixinHelper.mobileResponsive{
     font-size: 35px;
  }
}

.link {
  color: globalVariables.$color-8;
}

.buttonLink {
  background-color: globalVariables.$color-8;
  color: globalVariables.$color-4;

  width: 100%;
  max-width: 300px;

  padding: 20px;
  margin: 1rem 0px;

  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;

}
