
// colors
$color-0: #FCFDFF;
$color-1: #346df1;
$color-2: #5865F2;
$color-3: rgb(1, 85, 175);
$color-4: #061927;
$color-6: #082032;
$color-7: #051928;
$color-8: #fdd340;
$color-9: #917103;
$color-10: #3095de;
$color-11: #EFC253;
