
// colors
$color-0: #FCFDFF;
$color-1: #346df1;
$color-2: #5865F2;
$color-3: rgb(1, 85, 175);
$color-4: #061927;
$color-6: #1B2137;
$color-7: #051928;
$color-8: #FFCC15;
$color-9: #917103;
$color-10: #3095de;
$color-11: #EFC253;
$color-12: #27559A;
$color-13: #141414;
$color-14: #324486;
$color-15: #26387B;
$color-16: #D8B025;
$color-18: #939393;
$color-19: #E0E0E0;
