@use "public/styles/globalVariables";
@import 'fonts';

*, body {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: globalVariables.$color-6;
  color: globalVariables.$color-0;
}
