@use "public/styles/globalVariables";
@use "public/styles/mixinHelper";

.container{
  @include mixinHelper.center-content;
  flex-direction: column;
  background-color: globalVariables.$color-7;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;

  .buttons{
    @include mixinHelper.center-content;
    margin-top: 10px;
    gap: 0 20px;

    .pushable {
      background: globalVariables.$color-9;
      border-radius: 34px;
      border: none;
      padding: 0;
      cursor: pointer;
      outline-offset: 4px;
      user-select: none;


      &:active .front {
        transform: translateY(-2px);
      }

      .front {
        display: block;
        padding: 12px 42px;
        border-radius: 34px;
        font-size: 1.25rem;
        background: globalVariables.$color-8;
        transform: translateY(-6px);
        color: black;
      }
    }

    .option_dropdown{
      margin-bottom: 5px;
      font-size: 20px;

      select{
        width: 100%;
        height: 45px;
        text-align: center;
        border-radius: 8px;
      }
    }
  }
}
